  
  body{
    border: 1px solid red;
  }

  div.main-container{
    border: 1px solid red;
  }

  .main-container{
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 750px;
  }

  nav{
    display: flex;
    justify-content: center;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
  }

  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item{
    padding: 0 10px;
    margin: 0px;   
  }

  @media (max-width: 500px) {
    .hidden {
      display: none;
    }
  }

  .nav-link {
    transition: .3s;
    font-size: 14px;
  }

  .cont-2-col{
    display: flex;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid green;
  }

  .header{
    position: relative;
    text-align: center; 
  }

  .name{
    padding: 10px;
    margin: 0px;
    height: 40px;
    width: 300px;
  }

  .name::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 10px;
    width: 300px;
    height: 2px;
    background-color: #04f55c;
  }

  .position{
    padding: 10px;
    margin: 0px;
    height: 40px;
    width: 300px;
  }

  .section{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    border: 1px solid blue;
  }

  .section-header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    justify-content: center;
    border: 1px solid red;
  }

.contacts-list{
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.contacts-item{
  padding: 0 10px;
  margin: 0px; 
}

.summary{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.skills-list{
  
  max-width: 500px;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.skills-inner-group{
  margin: 0;
  padding: 0;
}

.ind-skill{
  display: inline-block;
}

.code{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}






























@media (max-width: 500px) {
  .section {
    width: 100%;
  }
}











  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }


  html {
    scroll-behavior: smooth; 
  }